---
import avatar from '@/assets/avatar.jpeg'
import { Card } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import config from '@/site-config'
import { Image } from 'astro:assets'

const headings = [
  { depth: 2, slug: 'experiences', text: 'Experiences' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
]
---

<PageLayout title='About' {headings} info={{ slug: '/about', hideComment: true }}>
  <Image
        src={avatar}
        alt='profile'
        class='h-33 w-auto border p-1'
        loading='eager'
      />
  <p>Website Developer / Mobile Developer</p>
  <p>
    Hi, I’m {config.author} a.k.a {config.title} — a passionate and detail-oriented Website and Mobile Developer based in Bali, Indonesia, 
    with over five years of professional experience building dynamic and user-centric Website and Mobile applications. 
    I hold a Bachelor’s degree in Information Technology from Fakultas Teknik at Universitas Udayana, 
    where I developed a strong foundation in programming, software engineering, and system design.
  </p>
  <p>Since 2018, I’ve been working across various sectors, contributing to the development of both frontend and 
    backend systems. My work emphasizes clean code, scalability, and performance — whether I’m building custom business 
    applications, e-commerce platforms, or internal enterprise tools. I'm experienced in technologies like JavaScript,
     TypeScript, Angular, React, Flutter, Node.js, and Spring Boot, and I take pride in writing maintainable code that 
     solves real-world problems.
  </p>
  <p>In addition to technical skills, I value communication, collaboration, and continuous learning. I’m always eager to explore new tools, 
    frameworks, and methodologies that enhance the way we build modern software. Whether working independently or as part of a team,
     my goal is always the same: to deliver quality solutions that align with business goals and exceed user expectations.</p>

  <h2 id="experiences">Experiences</h2>
  <div class='flex flex-1 flex-col gap-y-3'>
    <Card
      heading='PT. Sigma Cipta Caraka (Telkomsigma)'
      subheading='Programmer'
      date='Feb 2019 - Present'
      />
    <Card
      heading='Patala Stock'
      subheading='Fullstack Developer'
      date='Feb 2024 - Jul 2024'
    />
    <Card
      heading='AW Bali Web Design and Development'
      subheading='Fullstack Programmer'
      date='Oct 2018 - Jan 2019'
      />
    <Card
      heading='AyoAntre.com'
      subheading='Fullstack Programmer'
      date='Mar 2018 - Sep 2018'
    />
  </Section> 

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Currently, I work with the following tools and technologies in my daily development workflow</p>
  <ToolSection
    class='mb-5'
    title='Programming Languages'
    tools={[
      {
        name: 'Java',
        description: '',
        href: 'https://www.java.com',
        icon: import('@/assets/programming/java.svg?raw')
      },
      {
        name: 'Javascript',
        description: '',
        href: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
        icon: import('@/assets/programming/javascript.svg?raw')
      },
      {
        name: 'Typescript',
        description: '',
        href: 'https://www.typescriptlang.org/',
        icon: import('@/assets/programming/typescript.svg?raw')
      },
      {
        name: 'PHP',
        description: '',
        href: 'https://www.php.net/',
        icon: import('@/assets/programming/php.svg?raw')
      },
      {
        name: 'Python',
        description: '',
        href: 'https://www.python.org/',
        icon: import('@/assets/programming/python.svg?raw')
      },
      {
        name: 'Dart',
        description: '',
        href: 'https://dart.dev/',
        icon: import('@/assets/programming/dart.svg?raw')
      },
      {
        name: 'Go',
        description: '(onprogress)',
        href: 'https://go.dev/',
        icon: import('@/assets/programming/go.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Frameworks'
    tools={[
      {
        name: 'Angular',
        description: 'for Frontend Website',
        href: 'https://angular.dev/',
        icon: import('@/assets/programming/angular.svg?raw')
      },
      {
        name: 'Flutter',
        description: 'for Mobile Apps',
        href: 'https://flutter.dev/',
        icon: import('@/assets/programming/flutter.svg?raw')
      },
      {
        name: 'React',
        description: 'for Frontend Website',
        href: 'https://react.dev/',
        icon: import('@/assets/programming/react.svg?raw')
      },
      {
        name: 'Vue',
        description: 'for Frontend Website',
        href: 'https://vuejs.org/',
        icon: import('@/assets/programming/vuejs.svg?raw')
      },
      {
        name: 'Laravel',
        description: 'for Fullstack Web App',
        href: 'https://laravel.com/',
        icon: import('@/assets/programming/laravel.svg?raw')
      },
      {
        name: 'Spring',
        description: 'for Microservice',
        href: 'https://spring.io/',
        icon: import('@/assets/programming/spring.svg?raw')
      },
      {
        name: 'Astro',
        description: 'for Bloging',
        href: 'https://astro.build/',
        icon: import('@/assets/programming/astro.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Databases'
    tools={[
      {
        name: 'MySQL',
        description: '',
        href: 'https://www.mysql.com/',
        icon: import('@/assets/programming/mysql.svg?raw')
      },
      {
        name: 'Oracle',
        description: '',
        href: 'https://www.oracle.com/',
        icon: import('@/assets/programming/oracle.svg?raw')
      },
      {
        name: 'Microsoft SQL Server',
        description: '',
        href: 'https://www.microsoft.com/en-us/sql-server',
        icon: import('@/assets/programming/sqlserver.svg?raw')
      },
      {
        name: 'PostgreSQL',
        description: '',
        href: 'https://www.postgresql.org/',
        icon: import('@/assets/programming/postgresql.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Miscellaneous'
    tools={[
      {
        name: 'Git',
        description: 'Version Control System',
        href: 'https://git-scm.com/',
        icon: import('@/assets/programming/git.svg?raw')
      },
      {
        name: 'Jira',
        description: 'Project Management Tool',
        href: 'https://www.atlassian.com/software/jira',
        icon: import('@/assets/programming/jira.svg?raw')
      },
      {
        name: 'Jenkins',
        description: 'CI/CD',
        href: 'https://www.jenkins.io/',
        icon: import('@/assets/programming/jenkins.svg?raw')
      },
      {
        name: 'Docker',
        description: 'Virtualization Container (onprogress)',
        href: 'https://www.docker.com/',
        icon: import('@/assets/programming/docker.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    I love meeting new people! If you're passionate about website or mobile development, I'd love to connect. You can find me on social media or send me a message below.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/gungsatya',
        text: 'followers',
        api: 'github/gungsatya'
      },
      {
        platform: 'Email',
        icon: 'email',
        color: '#FF0000',
        link: 'mailto:i.g.b.n.satyawibawa@gmail.com',
        text: '',
      },
    ]}
  />
</PageLayout>
