/* --------------------------------------*/
/*      Created 24 Januari 2019          */
/*      by Satya Wibawa                  */
/*      (https://gungsatya.github.io)    */
/* ------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');

@font-face {
    font-family: 'Candle-Mustard';
    src: url('../font/Candle-Mustard.ttf') format('truetype');
}

@font-face {
    font-family: 'Bernadette';
    src: url('../font/Bernadette.ttf') format('truetype');
}

/* Default Theme */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    line-height: 1.4em;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #4a4a4a;
}

section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    min-height: min-content;
    color: #fff;
    background: url('../img/bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

header .title {
    font-family: 'Candle-Mustard';
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
}

header .title:before,
header .title:after {
    content: '';
    width: 170px;
    height: 2px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 34px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

header img{
    width: 40%;
    padding: 5%;
}

@media (max-width: 768px) {
    header .title {
        font-size: 28px;
    }

    header .title:before,
    header .title:after {
        width: 20%;
        margin: 0 10px;
    }

    header img{
        width: 100%;
    }
}

section.one {
    height: min-content;
    background-color: #ffffff;
    position: relative;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.one div.content {
    width: 840px;
}

section.one .title {
    font-family: Bernadette;
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff6565;
    margin-bottom: 10vh;
}

@media (max-width: 768px) {
    section.one div.content {
        width: 100% !important;
    }

    section.one .title {
        font-size: 30px !important;
        margin-bottom: 5vh;
    }
}

@media (max-width: 768px) {
    section.one img.profile {
        width: 100%;
        height: auto;
        padding: 5%;
    }

    section.one img.ring {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    section.one h3.name {
        font-size: 18px !important;
        margin-top: 30px !important;
    }

    section.one p.description {
        font-size: 11px !important;
    }
}

section.one h3.name {
    font-family: 'Bernadette';
    font-size: 24px;
    text-align: center;
    margin-top: 38px;
}

section.one p.description {
    text-align: center;
    font-size: 16px
}

section.one img.profile {
    max-width: 160px;
    max-height: 160px;
}

section.one img.ring {
    max-width: 120px;
    max-height: 114px;
}

.img-rounded {
    border-radius: 50%;
}

section.two {
    width: 100%;
    height: min-content;
    position: relative;
}

section.two div.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    background-color: #222222;
}

section.two div.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.two div.videobuffer {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

div.videobuffer:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    background: url(../img/play.svg);
    background-size: cover;
    content: '';
}

div.videobuffer img {
    width: 100%;
    height: auto;
}

section.third {
    height: min-content;
    background-color: #ffffff;
    position: relative;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.third .title {
    font-family: Bernadette;
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff6565;
    margin-bottom: 5vh;
}

section.third div.content {
    width: 40%;
    text-align: center;
}

@media (max-width: 768px) {
    section.third .title {
        font-size: 35px !important;
        margin-bottom: 5vh;
    }

    section.third div.content {
        width: 100%;
    }
}

section.time {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
    height: min-content;
    color: #fff;
    background: url('../img/image.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

section.time .title {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5vh;
}

section.time .title:before,
section.time .title:after {
    content: '';
    width: 170px;
    height: 2px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 34px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

@media (max-width: 768px) {

    section.time .title:before,
    section.time .title:after {
        width: 10%;
        margin: 0 10px;
    }
}

section.time div.content {
    width: 75%;
    text-align: center;
}

section.time div.content div.child {
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

div.child h3 {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 5vh
}

div.child h4 {
    font-family: Bernadette;
    font-size: 48px;
}

@media (max-width: 768px) {
    section.time div.content {
        width: 100%;
    }

    div.child h3 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 5vh
    }

    section.time div.content div.child {
        width: 20% !important;
        margin: 0% !important;
    }

    div.child h4 {
        font-family: Bernadette;
        font-size: 20px;
    }
}

section.gallery {
    height: min-content;
    background-color: #ffffff;
    position: relative;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.gallery .title {
    font-family: Bernadette;
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff6565;
    margin-bottom: 5vh;
}

section.gallery div.content {
    width: 60%;
    text-align: center;
}

@media (max-width: 768px) {
    section.gallery .title {
        font-size: 35px !important;
        margin-bottom: 1vh !important;
    }

    section.gallery div.content {
        width: 100%;
    }
}

section.gallery img {
    margin-top: 35px;
}

.bg-theme {
    background-color: #ff6565;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(255, 101, 101, 0.3);
    background-color: #ff6565;
}

section.map {
    width: 100%;
    height: 75vh;
    position: relative;
}

section.map iframe {
    width: 100%;
    height: 100%;
}

.btn-map {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin-bottom: 25px;
}

section.attended {
    height: min-content;
    background-color: #3c3c3c;
    position: relative;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.attended .title {
    font-family: Bernadette;
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 5vh;
}

section.attended div.content {
    width: 40%;
    text-align: center;
}

@media (max-width: 768px) {
    section.attended .title {
        font-size: 24px !important;
        margin-bottom: 5vh;
    }

    section.attended div.content {
        width: 100%;
    }
}

/* w3 form */
* {
    box-sizing: border-box;
}

/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 2px;
    border: #fff;
    border-width: 1px;
    border-style: solid;
}

/* Style the form icons */
.icon {
    font-size: 20px;
    padding: 10px;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.input-field {
    width: 100%;
    outline: none;
    color:#fff;
    background-color: transparent !important;
    border-style:none !important;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.input-field::placeholder {
    color: #fff;
    font-size: 15px;
}
.input-field select{
    height: 52px;
}
select.input-field{
    color: #fff;
}
select.input-field option{
    color: #222;
}