---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'works', text: 'Works' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/gungsatya'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  {/* <h2 id='theme'>Theme</h2>
  <ProjectSection
    project={[
      {
        name: 'ðŸ­ Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />
  */}

  <h2 id='works'>Works</h2>
  <ProjectSection
    project={[
      {
        name: 'Bizmart',
        description:
          'Groceries Point of Sales',
          image: 'bizmart.jpg',
        links: [
          { type: 'site', href: '/blog/project-point-of-sale-bizmart' },
        ]
      },
      {
        name: 'Rama Shinta App',
        description:
          'Balance sheet app of Rama Shinta Hotel',
          image: 'ramashinta.jpg',
        links: [
          { type: 'site', href: '/blog/project-rama-shinta' },
        ]
      },
      {
        name: "D'Modern",
        description: 'Architecture and Interior Profile Company',
        image: 'dmodern.png',
        links: [
          { type: 'site', href: 'https://interiordmodern.com' },
        ]
      }
    ]}
  />

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'Smart Car',
        description: 'Safety riding with Internet of Thing',
        image: 'smartcar.jpg',
        links: [
          { type: 'site', href: '/blog/project-smart-car' },
        ]
      },
      {
        name: 'Whisper',
        description: 'A citizen reporting chatbot',
        image: 'whisper.png',
        links: [
          { type: 'site', href: '/blog/project-chatbot-whisper' },
          {
            type: 'github',
            href: 'https://github.com/gungsatya/ta-whisper-website'
          },
          {
            type: 'github',
            href: 'https://github.com/gungsatya/ta-whisper-engine'
          },
        ]
      }
    ]}
  />
</PageLayout>
